<h1>You sent the following data in a GET request:</h1>
<table>
    <thead>
        <tr>
            <th>
                Key
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each dataList}}
            <th>
                this.name
            </th>
            <td>
                this.value;
            </td>
        </tr>
    </tbody>
</table>
